<h4>Check out some of the local bars, restaurants and events with Photobot2000</h4>
<hr> <h4>Bars and Events</h4><h4><%= link_to(image_tag("medowlark_logosm.jpg", :alt => "meadowlark", :class => "icont"),"http://www.meadowlarkbar.com/PhotoBot2000.cfm") %>
        </h4>
        <h4>
          <%= link_to(image_tag("coc_logosm.png", :alt => "City O City", :class => "icont"),"http://www.flickr.com/photos/photobot2000/tags/cityocity/") %></h4>
<hr class="clear"> <h4>Weddings and Parties</h4><h4><%= link_to(image_tag("weddingcd.jpg", :alt => "wedding pic", :class => "icont"),"http://www.flickr.com/photos/88136832@N05/show/") %>
        </h4>
        <h4>
          <%= link_to(image_tag("halloween2011.jpg", :alt => "Halloween", :class => "icont"),"http://www.flickr.com/photos/nakeddekan/sets/72157628022580510/show/") %></h4>

<h4>
          <%= link_to(image_tag("makersanddoers.jpg", :alt => "Makers and Doers", :class => "icont"),"http://www.flickr.com/photos/nakeddekan/sets/72157628432281611/show/") %></h4>
        <div class="clear"><hr><h4> Contact <%= mail_to "photobot2000@gmail.com" %> </h4></div>

