<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  <%= javascript_include_tag  "jquery.js", "rails.js", "jquery-ui-1.8.16.custom.min.js", "application.js" %>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <%= csrf_meta_tag %>
</head>
<body>

    <div class="container">
      <header>
        <%= link_to(image_tag("photobot.png", :alt => "PhotoBot2000"), root_path) %>
        <%= link_to("PHOTOBOT 2000", root_path) %>
	
      </header>
      
      <% flash.each do |key, msg| %>
    	<%= content_tag :div, msg, :class => [key, "flash notice"], :id => "notice_ #{key}" %>
    	<%= content_tag :script, :type => "text/javascript" do -%>
        setTimeout("new Effect.Fade('notice_<%= key %>');", 15000);
    	<% end %>
      <% end %>
     
      <section>
        <%= yield %>
      </section>
      
      <footer>
        <p>this is a footer</p>
      </footer>
    </div>

</body>
</html>
